<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">

       <title>Home</title>
    </head>

    <body class="p-3 mb-2 bg-light text-black" th:onload="onloadBody()">
        <div class="container">

            <div th:replace="~{/fragment/logout :: logoutDiv}"></div>

            <div id="contentDiv" style="clear: right;">
                <nav style="clear: right;">
                    <div th:replace="~{/fragment/navigation :: navDiv}"></div>
                </nav>

                <div class="tab-content" id="nav-tabContent">
                    <div id="nav-credentials" role="tabpanel" aria-labelledby="nav-credentials-tab">
                        <div th:if="${success eq true}" id="credSuccess" class="alert alert-dark">
                            <span th:text="${message}">Credential created successfully!</span>
                        </div>
                        <div th:if="${success eq false}" id="credError" class="alert alert-danger">
                            <span th:text="${message}">Example Signup Error Message</span>
                        </div>

                        <button id="addCredential" style="margin: 0.25em;" type="button" class="btn btn-info float-right" th:onclick="showCredentialModal()">
                            + Add a New Credential
                        </button>

                        <input type="hidden" id="addedit" th:value="${addoredit}" />

                        <div th:replace="~{/fragment/credentialsTab :: credentialsDiv}"></div>

                        <div th:replace="~{/fragment/credentialModal :: modalDiv}"></div>
                    </div>
                </div>
            </div>

        </div>

        <script th:src="@{/js/jquery-slim.min.js}"></script>
        <script th:src="@{/js/popper.min.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>

        <script type="text/javascript">
            function onloadBody() {
                var addedit = document.getElementById("addedit").value;

                if(addedit != 'add' && addedit != 'edit') {
                    return;
                }

                $('#credentialModal').modal('show');
            }

            // For opening the credentials modal
            function showCredentialModal(credentialId, url, username, password) {
                $('#credentialId').val(credentialId ? credentialId : '');
                $('#credentialUrl').val(url ? url : '');
                $('#credentialUsername').val(username ? username : '');
                $('#credentialPassword').val(password ? password : '');

                $('#credentialModal').modal('show');
            }
        </script>
    </body>
</html>