<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

    <body>

       <div th:fragment="credentialsDiv" class="table-responsive">
            <table class="table table-striped" id="credentialTable">
                <thead>
                <tr>
                    <th style="width: 20%" scope="col"></th>
                    <th style="width: 35%" scope="col">URL</th>
                    <th style="width: 20%" scope="col">Username</th>
                    <th style="width: 25%" scope="col">Password</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="cred,credentialTableRow : ${credentialList}" th:id="${credentialTableRow.count}">
                    <td>
                        <button name="edit" type="button" class="btn btn-success" th:onclick="showCredentialModal([[${cred.id}]], [[${cred.url}]], [[${cred.username}]], [[${cred.password}]]);">Edit</button>
                        <a name="delete" class="btn btn-danger" th:href="@{/user/credentials/delete?id=} + ${cred.id}">Delete</a>
                        <input type="hidden" name="credentialId" th:value="${cred.id}" th:id="${'credential' + cred.id}"/>
                    </td>
                    <th name="url" scope="row" th:text="${cred.url}">Example Credential URL</th>
                    <td name="username" th:text="${cred.username}">Example Credential Username</td>
                    <td name="password" th:text="${cred.password}">Example Credential Password</td>
                </tr>
                </tbody>
            </table>
        </div>

    </body>

</html>